/* Style for form elements */
.form-group {
    margin-bottom: 20px;

}

/* Style for labels */
.form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 22px;

}

/* Style for input fields and textareas */
.form-group input[type="text"],
.form-group input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 0.5s ease;
    filter: drop-shadow(2px 4px 6px black);
}

#contact textarea {
    background-color: #fff;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 0.5s ease;
    filter: drop-shadow(2px 4px 6px black);
    padding: 10px;
    border: 1px solid #ddd;
    max-width: 270px;
    max-height: 100px;
    min-height: 120px;
    min-width: 210px;
}

/* Style for the submit button */
form button[type="submit"] {
    display: inline-block;
    width: 200px;
    padding: 10px;
    background-color: #ff4a57;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #a91b25;
}

#contact {
    transform: translateY(-5%) translateZ(0px);
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
}


/* Responsive design for smaller screens */
@media (max-width: 768px) {

    /* Adjust styles for responsive Contact component */
    #contact {
        width: 320px;
    }

}

@media (max-width:430px) {

    /* Adjust styles for responsive Contact component */
    #contact {
        width: 290px;
    }
}