/* Style for form elements */
.form-group {
    margin-bottom: 20px;
}

/* Style for labels */
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style for input fields and textareas */
.form-group input[type="text"],
.form-group input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#contact textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* font-size: 16px; */
    max-width: 270px;
    max-height: 100px;
    min-height: 120px;
    min-width: 210px;
}

/* Style for the submit button */
form button[type="submit"] {
    display: inline-block;
    width: 200px;
    padding: 10px;
    background-color: #ff4a57;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #a91b25;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {

    /* Adjust styles for responsive Contact component */
    #contact {
        width: 320px;
    }
}

@media (max-width: 430px) {

    /* Adjust styles for responsive Contact component */
    #contact {
        width: 290px;
    }
}

/* Your existing Contact component styles */
#contact {
    width: 700px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

#contact:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    animation: none;
    /* Disable bounce animation on hover */
}

#contact:hover {
    background-color: white !important;
}