#experience {
    text-align: center;
}

#experience div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    padding: 3rem 2rem;
    max-width: 600px;
    background-color: white;
    border-radius: 12px;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    /* animation: fadeIn 0.5s ease; */
}

#experience h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

#experience h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#experience h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

details summary {
    font-size: 2.3rem;
    cursor: pointer;
    outline: none;
}

details ul li {
    font-size: 1.5rem;
}

details[open] summary {
    color: #ff4a57;
}

#experience p {
    margin-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.5;
}

/* #experience h2:hover {
    color: red;
} */

.keyword-highlight {
    background-color: #ff4a57;
    color: white !important;
    font-weight: bold;

    text-transform: uppercase;
    position: relative;
}

@keyframes floatText {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-22px);
    }
}

@keyframes shadowFloat {

    0%,
    100% {
        text-shadow: none;
    }

    50% {
        text-shadow: 0 6px 4px rgba(255, 74, 87, 0.6);
    }
}

@media (max-width: 768px) {
    #experience div {
        max-width: 400px;
    }
}

@media (max-width: 650px) {
    #experience div {
        max-width: 300px;
    }
}

@media (max-width: 450px) {
    #experience div {
        max-width: 250px;
    }
}