#experience {
    text-align: center;
    perspective: 5000px;
    /* Adjust as needed for desired 3D effect */
}

#experience div {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 4rem 2rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    max-width: 600px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    transform-style: preserve-3d;
    transform: translateZ(0);
    /* Create a stacking context for child elements */
}

#experience h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

#experience h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#experience h3 {
    font-size: 1.4rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

details summary {
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

details ul li {
    font-size: 1.1rem;
}

details[open] summary {
    font-weight: bold;
}

#experience p {
    margin-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.5;
}

#experience div:hover {
    background-color: white;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%); */
    transform: translateY(-5px) rotateX(10deg);
    /* Adjust as needed */
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

.keyword-highlight {
    color: #ff4a57 !important;
    font-weight: bold;
    font-size: 1.2em;
    color: transparent;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    animation: floatText 4s infinite ease-in-out alternate;
}

/* 
.keyword-highlight::before,
.keyword-highlight::after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    color: #ff4a57;
    z-index: -1;
    animation: shadowFloat 2s infinite ease-in-out alternate;
} */

@keyframes floatText {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }
}

@keyframes shadowFloat {

    0%,
    100% {
        text-shadow: none;
    }

    50% {
        text-shadow: 0 6px 4px rgba(255, 74, 87, 0.6);
    }
}



@media (max-width: 768px) {
    #experience div {
        max-width: 30rem;
    }
}

@media (max-width: 650px) {
    #experience div {
        max-width: 15rem;
    }
}