/* No changes in the CSS for the Footer component */

/* Add the following styles to position the footer at the bottom and hide it initially */
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    z-index: 1000;
    font-weight: 900;
    font-size: larger;
}

/* .footer {
    position: inherit;

} */


/* Show the footer when you scroll to the bottom */
body::before {
    content: "";
    height: 100px;
    display: block;
}

@media (max-width: 768px) {
    #copyright {
        font-size: 13px;
    }
}