/* Word.css */
#Word {
    position: relative;
    margin: 0 auto;
    width: 750px;
    height: 600px;
    /* Set a fixed height */
    overflow: hidden;
    /* Hide overflowed content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center content vertically */
    align-items: center;
    /* Center content horizontally */
    text-align: center;
    background-color: transparent;
    bottom: 100px;
}

/* .word-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

} */

/* Style the content within the Word document frame */
.word-content {
    padding: 30px;
    margin-top: 150px;
    width: 90%;
    text-align: left;
}

#h1_on_Word {
    font-size: 30px;
    color: #003366;

}

#h2_on_Word {
    font-size: 45px;
    color: #004488;

}

#h3_on_Word {
    font-size: 35px;
    color: #0066cc;

}

#h4_on_Word {
    font-size: 25px;
    color: #0099cc;

}


@media (max-width: 920px) {

    #h1_on_Word {
        font-size: 25px;
    }

    #h2_on_Word {
        font-size: 40px;
    }

    #h3_on_Word {
        font-size: 30px;
    }

    #h4_on_Word {
        font-size: 20px;
    }

    #Word {
        width: 80%;
        height: auto;
    }
}

@media(max-width:530px) {
    .word-content {
        width: 70%;
        /* margin-right: 100px; */
        /* margin-top: 30px; */
    }

    #h1_on_Word {
        font-size: 20px;
    }

    #h2_on_Word {
        font-size: 35px;
    }

    #h3_on_Word {
        font-size: 25px;
    }

    #h4_on_Word {
        font-size: 16px;
    }
}