.info-popup {
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-weight: 500;
    padding: 20px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    min-width: 100px;
}

.icon:hover .info-popup {
    opacity: 1;
    visibility: visible;
    z-index: 99999999;
}



/* Icons.css */
.icons-container {
    position: absolute;
    left: 4%;
    bottom: 75%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    align-items: center;

}

.icon {
    cursor: pointer;
    position: relative;
    width: 3rem;
    height: 3rem;
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
}

.icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
    opacity: 0;
}



.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
}



.icon-title {
    color: white;
    position: relative;
    bottom: -55px;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    font-weight: 500;

}

@media(hover:hover) {
    .icon:hover .logo {
        opacity: 0.7;
    }

    .icon:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        filter: brightness(1.6);
        background-color: rgba(0, 0, 129, 0.447);
    }
}



@media (max-width: 1250px) {

    .icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .icons {
        grid-template-columns: repeat(5, 1fr);
        /* grid-gap: 40px; */
    }

    .icons-container {
        position: relative;
        bottom: 750px;
        right: unset;
        left: 25%;
    }

    .icon-title {
        font-size: 15px;
        bottom: -35px;
    }

    .logo {
        height: 80%;

        width: 80%;

    }
}

@media (max-width: 920px) {

    .icons-container {
        /* position: absolute; */
        left: 25px;
        top: -620px;
    }


    .icon-title {
        font-size: 88%;
    }

    .section {
        margin-top: 0 !important;
        padding: 0 !important;
    }
}

@media (max-width:768px) {
    .icons-container {
        position: absolute;
        top: 75px;
        width: 100%;
        left: 0;

        justify-content: center;
        align-items: center;
        /* left: 150px; */
        /* right: 150px */
    }

}

@media (max-width: 530px) {
    .icons-container {
        /* position: absolute; */
        top: 50px;
        width: 100%;
        left: 0;
        /* justify-content: center; */
        /* align-items: center; */
        /* left: 150px; */
        /* right: 150px */
    }

    .icons {
        grid-gap: 35px;
    }

    .icon-title {
        font-size: 13px;
    }

    .icon {
        width: 2rem;
        height: 2rem;
    }


}