/* Navigation bar styles */
#nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #068FFF;

}

#nav img#logo {
    width: 60px;
    height: 60px;

}

#nav ul {
    display: flex;
    list-style: none;
}

#nav ul li {
    margin: 0 20px;
}

#nav ul li a.menu_item {
    text-decoration: none;
    font-size: 23px;
    color: black;
    transition: all 0.2s ease-in-out;
    font-weight: 900;

}

#nav ul li a.menu_item:hover {
    color: white;
    filter: drop-shadow(2px 2px 1px black);
}

#nav ul li a.menu_item.active {
    color: white;
    filter: drop-shadow(2px 2px 1px black);

    /* Change the color when clicked */
}

/* Responsive styles */
@media (max-width: 768px) {
    #nav {
        flex-direction: column;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #logo {
        display: none;
    }

    #nav ul {
        align-items: center;
    }

    #nav ul li {
        margin: 10px;
    }

    #nav ul li a.menu_item {
        font-size: 21.5px;
    }
}

@media (max-width: 575px) {
    #nav ul li a.menu_item {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    #nav ul li a.menu_item {
        font-size: 15px !important;

    }
}

@media (max-width: 410px) {
    #nav ul li a.menu_item {
        font-size: 14px !important;
        /* margin: 1px; */
    }

}

@media (max-width: 410px) {
    #nav ul li a.menu_item {
        font-size: 12px !important;
        /* margin: 1px; */
    }

}