/* Navigation bar styles */
#nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 20px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.83);
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#nav img#logo {
    width: 80px;
    height: auto;
    filter: invert(100%);
}

#nav ul {
    display: flex;
    list-style: none;
}

#nav ul li {
    margin: 0 20px;
}

#nav ul li a.menu_item {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    transition: all 0.2s ease-in-out;
}

#nav ul li a.menu_item:hover {
    color: #ff4a57;
}

#nav ul li a.menu_item.active {
    color: #ff4a57 !important;
    /* Change the color when clicked */
}

/* Responsive styles */
@media (max-width: 768px) {
    #nav {
        flex-direction: column;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #logo {
        display: none;
    }

    #nav ul {
        align-items: center;
    }

    #nav ul li {
        margin: 10px;
    }
}

@media (max-width: 575px) {
    #nav ul li a.menu_item {
        font-size: 16px;
    }
}

@media (max-width: 420px) {
    #nav ul li a.menu_item {
        font-size: 97%;
    }

    #nav ul li {
        margin: 7px;
    }
}