/* Navigation bar styles */
#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    padding: 10px 0;
}

.datetime {
    position: absolute;
    left: 9px;
    bottom: 10px;
    color: white;
}

#nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav ul li {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    /* Add cursor pointer for hover effect */
}

#nav ul li a.menu_item {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Preserve the size of the tabs */
    width: 110px;
    height: 60px;
    justify-content: space-between;
}

#nav ul li:hover a.menu_item,
#nav ul li a.menu_item.active {
    color: black;
    /* Change color on hover and when active */
    background-color: #777;
    /* Add background color on hover and when active */
}

/* Add styles for the icons */
.menu-icon {
    width: 30px;
    /* Adjust icon width as needed */
    height: 30px;
    /* Adjust icon height as needed */
    margin-bottom: 5px;
    /* Adjust spacing between icon and label */
}

/* Logo styles */
#logo {
    width: 60px;
    height: 60px;
    filter: invert(1);
}

.light-bulb {
    position: relative;
    /* Change to relative positioning */
    /* width: 100px; */
    /* height: 100px; */
    transition: opacity 0.3s ease;
}

.light-bulb img {
    width: 45px;
    height: 45px;
}

.lit {
    opacity: 1;
}

.unlit {
    opacity: 1;
    filter: invert(0.3);
}

.dark-mode-text {
    font-size: 15px;
    font-weight: 900;
    /* Adjust font size as needed */
    color: #ffffff;
    text-transform: capitalize;
    /* Capitalize the text */
    /* margin-top: 5px; */
    /* Add top margin for spacing */
}

.light-bulb img:hover {
    transform: scale(1.05);
}


@media (max-width: 920px) {
    #nav ul li {
        margin: 0 5px;
    }

    #nav ul li a.menu_item {
        width: 100px;
        font-size: 14px;
        height: 55px;
    }

    .light-bulb img {
        width: 35px;
        height: 35px;
    }
}

/* Add this media query for screens with a max-width of 768px */
@media (max-width: 768px) {

    /* Hide the menu items */
    #nav ul.menu-items {
        display: none;
    }

    /* Style the menu button */
    #nav .menu-button {
        display: block;
        /* Show the menu button */
        text-align: center;
        cursor: pointer;
        font-size: 24px;
        color: #ffffff;
    }
}