.file-manager-top-bar img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.projects .file-manager-top-bar {
    background-color: #08afaf;
}




#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.folder-card a {
    color: black;
}

.folder-card {
    width: 200px;
    /* height: 250px; */
    /* margin: 1.3rem; */
    overflow: hidden;
    /* background-color: #fff; */
    border-radius: 12px;
    transition: transform 0.3s ease;
    animation: fadeIn 1.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    position: relative;
}

.folder-card:hover {
    /* transform: translateY(-10px); */
    z-index: 1;

    /* transform: scale(1.1); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* filter: brightness(1.6); */
    background-color: #08afaf;
}

/* .folder-icon { */
/* width: 50px; */
/* height: 50px; */
/* margin-bottom: 100px; */
/* } */

.folder-icon img {
    width: 100px;
    height: 100px;
}

.folder-info h2 {
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
    font-weight: 700;
}