/* styles/SocialBalls.css */
.social-balls-container {
    position: fixed;
    left: 9px;
    bottom: 30%;
    transform: translateY(50%);
    z-index: 200000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social_balls {
    /* display: flex; */
    align-items: center;
}

.social-ball {
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
}

.social-ball:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    filter: brightness(1.2);
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
}

.social-ball:hover .logo {
    opacity: 0.7;
}