/* Remove the blue outline on focus and active state */
button:focus,
button:active {
  outline: none;
  /* This removes the outline */
  background-color: inherit;
  /* Set the background color to inherit to maintain the original button style */
}

#root {
  margin: 0 auto;
  text-align: center;
  min-height: -webkit-fill-available;

}


/* html{
  display: ;
} */
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
button,
input,
textarea {
  margin: 0;
  padding: 0;
}

.dark-mode-button {
  z-index: 10000000000;
  position: fixed;
  right: 9px;
  bottom: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* transition: background-color 0.3s ease, transform 0.3s ease; */
  width: 100px;
  height: 100px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  overflow: hidden;
}

.light-bulb {
  position: inherit;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  transition: opacity 0.3s ease;
}


.light-bulb img {
  width: 80px;
  height: 80px;
  /* position: absolute;
  right: 0;
  top: 0; */
}

.lit {
  opacity: 1;

}

.unlit {
  opacity: 1;
  filter: invert(0.3);
  /* filter: hue-rotate(122deg); */
}