html,
body {
  /* margin: 0; */
  /* height: 100%; */
  overflow: hidden;
  outline: none;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  /* overflow: hidden !important; */
  /* min-height: 100vh !important; */
}

/* :root {
  --color-background-light: #ffffff;
  --color-text-light: #000000;

  --color-background-dark: #000000;
  --color-text-dark: #ffffff;
} */

/* 
#light {
  background-color: white; */
/* background: url('/windows-abstract.webp'); */
/* color: var(--color-text-light); */
/* } */

/* #dark { */
/* background-color: black; */
/* background: url('/dark-sand.jpg'); */
/* color: var(--color-text-dark); */
/* } */


button:focus,
button:active {
  outline: none;
  background-color: inherit;
}

.under-construction {
  color: white;
}

body::before {
  content: "";
  height: 100px;
  display: block;
}

#root {
  margin: 0 auto;
  text-align: center;
  min-height: -webkit-fill-available;

}



/* html{
  display: ;
} */
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
button,
input,
textarea {
  margin: 0;
  padding: 0;
}


@media screen and (orientation:landscape) and (max-width: 768px) {

  * {
    visibility: hidden;
  }

  #landscape-message {
    visibility: visible !important;
    display: block !important;
    /* Display the message when in landscape mode */
  }
}

#landscape-message {
  display: none;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  z-index: 1000;
  /* Make sure it appears above other elements */
}

.page-top-bar {
  display: flex;
  align-items: center;
  /* margin-bottom: 20px; */
  padding: 10px;
  background-color: #ccc;
  /* Windows file manager top bar color */
  border-top-left-radius: 5px;
  /* Rounded top-left corner */
  border-top-right-radius: 5px;
  /* Rounded top-right corner */
}

.page-top-bar img {
  position: absolute;
  width: 33px;
  height: 33px;
  margin-right: 10px;
  right: 0;
}

.page-top-bar h1 {
  font-size: 24px;
  font-weight: 700;
}

.page-container {
  position: relative;
  margin: 0 auto;
  width: 750px;
  height: 600px;
  bottom: 100px;
  background-color: #f0f0f0;
  padding: 0;
  /* Remove padding to mimic Windows file manager */
  border: 2px solid #808080;
  /* Adjust border color */
  border-radius: 5px;
  display: flex;
  flex-direction: column;

}


/* Add this CSS for the DarkModeBtn */
.dark-mode-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  /* Add some right margin for spacing */
}

.dark-mode-button {
  z-index: 10000000000;
  position: fixed;
  right: 9px;
  bottom: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 2px;
  padding-right: 10px;

}

@media (max-width: 1250px) {
  .page-container {
    bottom: 50px;
  }
}

@media (max-width: 920px) {
  .page-container {
    width: 450px;
    height: 450px;
  }
}

@media screen and(max-width:768px) {

  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }

  /* body {
    overflow-y: auto;
  } */

  * {
    animation: initial !important;
  }

  /* Remove the default focus outline */
  *:focus {
    outline: none !important;
  }

  .section {
    width: 450px !important;
    height: 650px !important;
  }
}


@media (max-width: 530px) {
  .page-container {
    /* overflow-y: auto; */
    bottom: 100px;
    width: 300px;
    height: 450px;
  }

  .section {
    width: 300px !important;
  }
}