button:focus,
button:active {
  outline: none;
  /* This removes the outline */
  background-color: inherit;
  /* Set the background color to inherit to maintain the original button style */
}

#root {
  margin: 0 auto;
  text-align: center;
  min-height: -webkit-fill-available;

}

body {
  position: relative;
  margin: 0;
  padding: 0;
  /* min-height: 100vh !important; */
}

/* html{
  display: ;
} */
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
button,
input,
textarea {
  margin: 0;
  padding: 0;
}

.dark-mode-button {
  z-index: 10000000000;
  position: fixed;
  right: 9px;
  bottom: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.light-bulb {
  position: inherit;
  bottom: 40px;
  right: 0;
  width: 100px;
  height: 100px;
  transition: opacity 0.3s ease;
}


.light-bulb img {
  width: 80px;
  height: 80px;

}

.lit {
  opacity: 1;

}

.unlit {
  opacity: 1;
  filter: invert(0.3);
}

.light-bulb img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {

  .light-bulb img {
    width: 60px;
    height: 60px;
  }

  .light-bulb {
    width: 60px;
    height: 60px;
    bottom: 50px
  }



  .dark-mode-button {
    width: 50px;
    height: 70px;

  }
}

@media (max-width: 480px) {
  .light-bulb {
    width: 50px;
    height: 50px;
  }

  .light-bulb img {
    width: 50px;
    height: 50px;
  }
}