@font-face {
  font-family: "Montserrat";
  src:
    url("/Montserrat.ttf") format("truetype");
}

:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  background: url('/dark-sand.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  font-weight: 500;
  /* color: white; */
  text-decoration: inherit;
}


body {
  /* margin: 0; */
  display: grid;
  place-items: center;
  min-width: 330px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}